<body class=" hold-transition lockscreen">

    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="/"><b>ERROR</b>&nbsp; WRONG PASSWORD</a>
        </div>

        
        <div class="text-center">
            <a href="/login">Or sign in as a different user</a>
        </div>
       
    </div>