<footer class="main-footer">
   <strong>Copyright © 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
   All rights reserved.
   <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
   </div>
</footer>
<div id="sidebar-overlay"></div>


<script src="/assets/admin-lte/plugins/jquery/jquery.min.js"></script>

<script src="/assets/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!--script src="/assets/admin-lte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script-->

<script src="/assets/admin-lte/dist/js/adminlte.js?v=3.2.0"></script>


<script src="/assets/admin-lte/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="/assets/admin-lte/plugins/raphael/raphael.min.js"></script>
<script src="/assets/admin-lte/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/assets/admin-lte/plugins/jquery-mapael/maps/usa_states.min.js"></script>

<!--script src="/assets/admin-lte/plugins/chart.js/Chart.min.js"></script>

<script src="/assets/admin-lte/plugins/bs-stepper/js/bs-stepper.min.js"></script>

<script src="/assets/admin-lte/dist/js/demo.js"></script>

<script src="/assets/admin-lte/dist/js/pages/dashboard2.js"></script>
<script src="/assets/admin-lte/dist/js/pages/dashboard3.js"></script-->
<script src="/js/loginsystem.js"></script>

<script src="/js/setlsys.js"></script>
