<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%= title %></title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
      <link rel="stylesheet" href="/assets/admin-lte/plugins/fontawesome-free/css/all.min.css">
        
      <link rel="stylesheet" href="/assets/admin-lte/dist/css/adminlte.min.css?v=3.2.0">
      <style>
        .dark-mode input:-webkit-autofill, .dark-mode input:-webkit-autofill:focus, .dark-mode input:-webkit-autofill:hover, .dark-mode select:-webkit-autofill, .dark-mode select:-webkit-autofill:focus, .dark-mode select:-webkit-autofill:hover, .dark-mode textarea:-webkit-autofill, .dark-mode textarea:-webkit-autofill:focus, .dark-mode textarea:-webkit-autofill:hover {
            -webkit-text-fill-color: #000;
        }
       
      </style>
    </head>
    <body  class=" dark-mode hold-transition login-page" style="min-height: 542px;">
        <%- body %>

      <script src="/assets/admin-lte/plugins/jquery/jquery.min.js"></script>
         
      <script src="/assets/admin-lte/dist/js/adminlte.min.js?v=3.2.0"></script>      
      
    </body>
</html>