<div class="content-wrapper" style="min-height: 1135.77px">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"></h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-md-9">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title text-uppercase font-weight-bold">
                                Patron
                            </h3>
                        </div>
                        <div class="card-body">                           
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-default" id="example">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">ID Number</th>
                                                    <th scope="col">Group</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Action</th>                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="">
                                                    <td scope="row">R1C1</td>
                                                    <td>R1C2</td>
                                                    <td>R1C3</td>
                                                    <td>R1C3</td>
                                                    <td>R1C3</td>
                                                </tr>
                                                <tr class="">
                                                    <td scope="row">Item</td>
                                                    <td>Item</td>
                                                    <td>Item</td>
                                                    <td>Item</td>
                                                    <td>Item</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/js/patron/patron.js"></script>
