<div class="container">
   <div class="mt-5">
      <div class="card">
         <div class="card-header text-center">
            <h3>Attendance Monitoring System</h3>

         </div>
         <div class="card-body">

            <div class="container">
               <div class="row d-flex justify-content-center">
                  <div class="col-md-12 text-center">
                     <h5 id="dholder"></h5>
                  </div>
               </div>
               <div class="row d-flex justify-content-center">
                  <div class="col-md-4">
                     <input class="form-control form-control-lg" type="text" placeholder="Student Number"
                        aria-label=".form-control-lg example">
                  </div>
               </div>
               <div class="row row d-flex justify-content-center mt-3 ">
                  <div class="col-md-6 text-center ">
                     <img src="/img/nopix.png" class="img-fluid img-thumbnail" alt="Responsive image"
                        style="height: 509px;">
                  </div>
               </div>
               <hr>
               <div class="row d-flex justify-content-center">
                  <div class="col-md-12 text-center">
                     <table class="table  table-bordered">
                        <thead>
                           <tr class="table-success">
                              <th scope="col">Name</th>
                              <th scope="col">ID Number</th>
                              <th scope="col">Group</th>
                              <th scope="col">Description</th>
                              <th scope="col">Date/Time-in</th>
                              <th scope="col">Location</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <th scope="row">Kenneth B. Roman</th>
                              <td>PIL-00-0000</td>
                              <td>Staff</td>
                              <td>Library Staff</td>
                              <td>8/14/2023, 1:41:19 PM</td>
                              <td>Learning Commons</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>

            </div>

         </div>
         <div class="card-footer">
            <div class="custom-control custom-switch float-left">
               <input type="checkbox" class="custom-control-input" id="customSwitch1">
               <label id="slabel" class="custom-control-label" for="customSwitch1">Light</label>
            </div>
         </div>
      </div>
   </div>
</div>